*{
    margin: 0;
    padding: 0;
}

.background-img{
    background-image: url("bg-img.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;

}

.navbar{
    background-color: #cfeef1f3;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

.navbar a{
    color: rgb(134, 30, 30);
    font-size: 1.4rem;
    text-decoration: none;
    margin-right: 20px;
}
